
.code {
  position: relative;
  height: 14em;
  width: fit-content;
  font-size: 1.5rem;
  margin: 0 auto;
  top: 2.3em;
  overflow: hidden;
}

.changetext {
  position: absolute;
  top: 20em;
  left: 20vw;
  width: fit-content;
}

@media screen and (max-width: 1000px) {
  .changetext {
    left: 0;
  }
}
