
.code {
  position: relative;
  height: 16.5em;
  width: fit-content;
  font-size: 1.5rem;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
}

.changetext {
  position: absolute;
  top: 0em;
  left: 0em;
  width: fit-content;
}

@media screen and (max-width: 1000px) {
}

.nav {
  position: 'absolute';
  top: 0;
  display: flex;
  justify-content:center;
}

.navbtn {
  height: 5rem;
  width: 6rem;
  border: none;
}

.activenavbtn {
  height: 5rem;
  width: 6rem;
  border: none;
  background: #C1C2C5;
}

.invisibleinput {
  position: 'absolute'; 
  height: '100%';
  width: '100%';
  background: 'transparent';
  color: 'transparent'; 
  border: 'none'
  
}
