.timer {
  margin: 0 auto;
  margin-top: 15em;
  transform: translate(-50%, -50%);
  width: fit-content;
  font-size: .8em;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;  
  /* border: red; */
  /* border-style: solid; */
}
